
<li><a href='{%url "home" %}'>home </a></li>
<li><a href='{%url "about" %}'>about</a></li>
<li><a href='{%url "contact" %}'>contact </a></li>
{% if user.is_authenticated and user.is_teacher %}



<li><a href='{%url "register" %}'>register </a></li>
<li><a href='{%url "exams:addmark" %}'>Add Exam Marks </a></li></li>
<li><a href='{%url "coursework:addcontinuous" %}'>Add Coursework </a></li>
<li><a href='{%url "reports:addreport" %}'>Add Reports </a></li>
<li><a href='{%url "exams:examlist" %}'>View Examination Marks </a></li>
<li><a href='{%url "coursework:listcontinuous" %}'>View Coursework </a></li>

<li><a href='{%url "profiles:profilelist" %}'>View Users </a></li>
<li><a href='{%url "reports:reportlist" %}'>View Reports </a></li>


<li><a href='{%url "password_change" %}'>Change Password </a></li>




{% else %}
{% if user.is_authenticated and user.is_student%}
<li><a href='{%url "students:exammark" %}'>View Examinations Results </a></li>
<li><a href='{%url "students:studentscontinuous" %}'>View Coursework  </a></li>

<li><a href='{%url "students:reportst" %}'>View Report </a></li>

{% else %}
{% if user.is_authenticated and user.is_admin %}
<li><a href='{%url "profiles:student" %}'>View Students </a></li>
<li><a href='{%url "profiles:teacher" %}'>View Teachers </a></li>

<li><a href='{%url "register" %}'>Register </a></li>
<li><a href='{%url "password_change" %}'>Change Password </a></li>


{% endif %}
{% endif %}
{% endif %}



</div>