<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>e-brains login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Haunt Signup Form Responsive, Signup form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'sako/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'sako/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'sako/fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900' %}" rel="stylesheet">
<link href="{% static 'sako//fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' %}" rel="stylesheet">
</head>
<body>
<h1>e-brains login</h1>
<div class="container">
{% block content %}
{% endblock content %}

<div class="clear"></div>
</div>
<div class="footer">
 <p> e-brains  2018. All Rights Reserved | Design by  e-brains team</p>
 </div>
</body>
</html>